{% extends "layout.html"%}
{% block body%}
<body>
    <div class="bd-example" align = "middle">
        <h1>I'M A BLOODY GENIUS😂😂😂😂😂😂😉😉😉😁😁😁🤗🤗</h1>
        <h3> Kindly Checkout These Images</h3>
        <img src="{{url_for('static', filename = 'fear2.jpg')}} "width="350" height="350" />
        <img src="{{url_for('static', filename = 'fear1.jpg')}} "width="350" height="350"/>
        <img src="{{url_for('static', filename = 'fear3.jpg')}} "width="350" height="350"/>
        <h1> </h1>
        <img src="{{url_for('static', filename = 'fear4.png')}} "width="350" height="350"/>
        <img src="{{url_for('static', filename = 'fear5.jpg')}} "width="350" height="350"/>
        <img src="{{url_for('static', filename = 'fear6.jpg')}} "width="350" height="350"/>
        <h1> </h1>
        <img src="{{url_for('static', filename = 'fear7.jpg')}} "width="350" height="350"/>
        <img src="{{url_for('static', filename = 'fear8.jpg')}} "width="350" height="350"/>
        <img src="{{url_for('static', filename = 'fear9.jpg')}} "width="350" height="350"/>
        <h1> </h1>
        <img src="{{url_for('static', filename = 'food1.jpg')}} "width="350" height="350"/>
        <img src="{{url_for('static', filename = 'food2.jpg')}} "width="350" height="350"/>
        <img src="{{url_for('static', filename = 'food3.jpg')}} "width="350" height="350"/>
        <h1> </h1>
        <img src="{{url_for('static', filename = 'food4.jpg')}} "width="350" height="350"/>
        <img src="{{url_for('static', filename = 'food5.jpg')}} "width="350" height="350"/>
        <img src="{{url_for('static', filename = 'food6.jpg')}} "width="350" height="350"/>
    </div>
</body>

{% endblock%}